<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../assets/photo/WeCreateExperiences-7-December-launch-survey-reveals-value-of-events-to-businesses_-741x486.webp);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">البحث العلمي</a></li>
                <li class="breadcrumb-item"><a routerLink="/Research/sector-news"> اخيار واحداث القطاع </a></li>
                <li class="breadcrumb-item"><a routerLink="/Research/news"> جامعة الاقصر تعلن إرشادات عامة لطلاب السنوات النهائية خلال فترة الامتحانات‎ </a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                جامعة الاقصر تعلن إرشادات عامة لطلاب السنوات النهائية خلال فترة الامتحانات‎
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <p> جامعة الاقصر تعلن إرشادات عامة لطلاب السنوات النهائية خلال فترة الامتحانات</p>
            <p>الدخول عبر بوابات التعقيم وارتداء الكمامات</p>
            <p>تجنب المصافحة وعدم التجمع قبل الامتحان أو بعده</p>
            <p>حظر تبادل الأدوات المكتبية أو الشخصية ومغادرة الجامعة فور الانتهاء من أداء الامتحان</p>
            <p>أعلن الدكتور محمد عثمان الخشت رئيس جامعة الاقصر، عن نصائح وإرشادات عامة وضعتها الجامعة للحفاظ على سلامة طلاب السنوات النهائية خلال فترة انعقاد الامتحانات الحضورية التحريرية، والتي تجرى وفق قرارات وزارة التعليم العالي والمجلس الأعلى للجامعات، وتبدأ في جامعة الاقصر اعتبارًا من 11 يوليو وحتى 25 أغسطس، لأكثر من 80 ألف طالب وطالبة.</p>
            <p>وتضمنت إرشادات جامعة الاقصر: التواجد بالكلية قبل موعد الامتحان بساعة، واحضار الكارنيه الجامعي، والالتزم بارتداء الكمامة، والدخول من بوابات التعقيم، واتباع العلامات الإرشادية، والتوجه إلى المكان المخصص للامتحانات دون تدافع أو تزاحم، والالتزام بالتباعد الاجتماعي، وترك مسافة لاتقل عن 2 متر على الأقل عند الدخول والخروج وعند الحديث والتعامل مع أي شخص.</p>
            <p>وشملت نصائح جامعة الاقصر لطلابها، تجنب المصافحة، وتجنب لمس الوجه، واستخدام مطهرات الأيدي لغسل اليدين، وعدم التجمع قبل الامتحان أو بعده، والتوقيع في كشف الحضور والانصراف بقلم خاص، وحظر تبادل الأدوات المكتبية أو الشخصية مع الغير، وضرورة احضار الاحتياجات الشخصية مثل [مياه للشرب وغيرها]، ومغادرة الجامعة فور الانتهاء من أداء الامتحان دون تدافع أو تزاحم.</p>
            <p>وأكد الدكتور محمد عثمان الخشت رئيس الجامعة أن جميع المشاركين في منظومة امتحانات السنوات النهائية والدراسات العليا من أعضاء هيئة التدريس والعاملين والطلاب ملزمين بارتداء الكمامات والتباعد الاجتماعي والدخول من بوابات التعقيم، ومنع التجمعات أو التدافع.</p>
            <p>كما أكد رئيس جامعة الاقصر، أن الحفاظ على سلامة الطلاب والأساتذة والعاملين خلال انعقاد الامتحانات يأتي في المرتبة الأولى وفوق أي اعتبار؛ واتخاذ الإجراءات الصارمة والتدابير اللازمة للوقاية من فيروس كورونا المستجد من حيث إجراء عمليات التطهير يوميًا في كافة الأماكن التي ستجري بها الامتحانات وذلك حفاظًا على صحة جميع المشاركين في المنظومة التعليمية.</p>
            <p>وشدد الدكتور الخشت، على توافر لجان طبية متخصصة من لجان مكافحة العدوى داخل الحرم الجامعي وفي الكليات للتعامل الطبي مع أي حالة اشتباه وذلك وفقًا للإجراءات الطبية المقررة من وزارة الصحة ومنظمة الصحة العالمية، إلى جانب تشكيل لجنة عليا في إدارة الجامعة لمتابعة تنفيذ  القواعد والإجراءات الاحترازية المقررة بشكل يومي من خلال اللجان العليا المشكلة بكل كلية.</p>
        </div>
    </div>
</div>

<!-- end section artical university president -->

<div class="clear"></div>

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<app-scroll></app-scroll>

<app-footer></app-footer>