<app-header></app-header>

<!-- start section breadcrumb -->

<div class="breadcrumb-top">
  <div class="overlay"></div>
  <div class="container">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0);">الطلاب</a></li>
              <li class="breadcrumb-item"><a routerLink="/about/info/university-president">مكتـــب التـــعاون الدولـــي والــعلاقات الــخارجية</a></li>
          </ol>
      </nav>
  </div>
</div>

<!-- end section breadcrumb -->



<!-- start section artical university president -->

<div class="system-message">
  <div class="container">
      <div class="message-title">
          <h2>
            مكتـــب التـــعاون الدولـــي والــعلاقات الــخارجية
          </h2>
          <ul>
              <li><a href="javascript:void(0);">المعلومات info </a></li>
              <li><span>  13 ديسمبر 2020</span></li>
              <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
          </ul>
      </div>
      <div class="contain-message">
        <!--Intro-->
        <h4>مقدمة:</h4>
        <p>
          قرار رئيس جامعة الأقصر رقم (91)، في الأول من أكتوبر لعام 2019، ليتم انشاء مكتب التعاون الدولي والعلاقات الخارجية بالجامعة، وبناءً عليه تم الاعداد للمكتب على أن يقوم بالمهام المكلف بها وهي على النحو التالي:
        </p>
        <ul>
          <li>هيكلة برامج ومشاريع التعاون الدولي.</li>
          <li>إنشاء وتعزيز الاتصال بالهيئات و المؤسسات الداعمة لتمويل البرامج.</li>
          <li>ابرام الاتفاقيات الدولية مع الجامعات، والهيئات الدولية.</li>
          <li>تصميم و اعداد مقترحات مشاريع التمويل.</li>
        </ul>

        <hr/>

        <h4>الرؤية:</h4>
        <p>أن تتصدر جامعة الأقصر قائمة تصنيف الجامعات المتميزة على الصعيد العربي و العالمي.</p>
        <hr/>

        <h4>الرسالة:</h4>
        <p>تعزيز سُبل التعاون الدولي في مجالات التعليم العالي والبحث العلمية وخدمة البيئة وتنمية المجتمع، كذلك إقامة جسور التبادل الثقافي بين جامعة الأقصر والجامعات العالمية.</p>
        <hr/>

        <h4>أهداف المكتب:</h4>
        <p>تتمحور مهام مكتب التعاون الدولي حول التدويل وتتمركز أهدافه على النحو التالي:</p>
        <ul>
          <li>رفع الكفاءات والخبرات الدولية لأعضاء هيئة التدريس من أجل تقديم خدمات تعليمية أفضل.</li>
          <li>وضع جامعة الأقصر في مصاف الجامعات العالمية في التصنيف الدولي عن طريق تقديم الدعم الفني لأعضاء هيئة التدريس ومعاونيهم في مجال النشر الدولي.</li>
          <li>ايجاد فرص تعاون دولي في مختلف التخصصات و المجالات الأكاديمية.</li>
          <li>تنشيط دور الجامعة وتعزيز الروابط الدولية للنهوض بمستوى أعضاء هيئة التدريس ودعم العملية التعلمية والبحثية، كذلك تطوير البرامج العلمية بالتعاون مع جامعات عالمية.</li>
          <li>ايجاد فرص دراسية و تدريب الطلاب بجامعة الأقصر وفق برامج التبادل العلمية والثقافية.</li>
          <li>اقامة ورش عمل للأعضاء هيئة التدريس و معاونيهم و الطلاب للتعريف بالفرص المتاحة لتمويل المشاريع البحثية و المنح الدراسية.</li>
        </ul>

        <hr/>
        <h4>الشريحة المستهدفة:</h4>
        <p>يقدم مكتب التعاون الدولي والعلاقات الخارجية بجامعة الأقصر للفئات الأتية:</p>
        <ul>
         <li>أعضاء هيئة التدريس.</li>
         <li>معاوني أعضاء هيئة التدريس.</li>
         <li>طلاب جامعة الأقصر.</li>
         <li>خريجي جامعة الأقصر.</li>
        </ul>

      </div>
  </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
  <div class="container">
      <ul>
          <li>
              <a href="https://www.linkedin.com/" target="_blank">
                  <i class="fab fa-linkedin fa-lg"></i>
                  linkedin
              </a>
          </li>
          <li>
              <a href="https://www.youtube.com/" target="_blank">
                  <i class="fab fa-youtube fa-lg"></i>
                  youtube
              </a>
          </li>
          <li>
              <a href="https://www.pinterest.com/" target="_blank">
                  <i class="fab fa-pinterest fa-lg"></i>
                  pinterest
              </a>
          </li>
          <li>
              <a href="https://www.instagram.com/" target="_blank">
                  <i class="fab fa-instagram fa-lg"></i>
                  instagram
              </a>
          </li>
          <li>
              <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter fa-lg"></i>
                  twitter
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com/" target="_blank">
                  <i class="fab fa-facebook fa-lg"></i>
                  facebook
              </a>
          </li>
      </ul>
  </div>
</div>

<!-- end section university social media  -->

<div class="container">
  <div class="driv"></div>
</div>



<app-scroll></app-scroll>

<app-footer></app-footer>
