<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../../assets/photo/innovation-1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">البحث العلمي</a></li>
                <li class="breadcrumb-item"><a routerLink="/Research/scientific-awards">جوائز البحث العلمي</a></li>
                <li class="breadcrumb-item"><a routerLink="/Research/awards/international-scientific-publishing">مكافأت النشر العلمى الدولي لعام 2019</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                مكافأت النشر العلمى الدولي لعام 2019
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <p>تشرف الإدارة العامة للبحوث العلمية بالإعلان عن بدء تلقيها البحوث العلمية للسادة أعضاء هيئة التدريس ومعاونيهم بجامعة الاقصر الذين قاموا بنشر ابحاث علمية في مجلات علمية دولية التي صدرت مطبوعة عام 2014 ( لا تشمل الأبحاث المنشورة في المؤتمرات الدولية) كما تشمل إيضاً نشر كتـاب كامــــل أو فصل في كتاب أو Editing لكتاب تم نشره بواسطة دار نشر دولية بالخارج وصـدر خلال .</p>
            <div class="h6">عــــام  2019 ويكون التقدم وفقاً للمستندات الأتية :-</div>
            <div>أولاً : مستندات يتم تقديمها ورقياً (وفقاً للنماذج المحددة- يتم تحميلها عبر الموقع الإلكتروني للإدارة) :</div>
            <ol>
                <li> &nbsp;&nbsp;&nbsp; إستمارة صرف (50 ع.ح ) معتمدة من الكلية "موقعه من العميد أو الوكيل  ومختومة بختم شعار الجمهورية".</li>
                <li> &nbsp;&nbsp;&nbsp; إستمارة بيانات " موقعه من العميد أو الوكيل ومختومة بختم شعار الجمهورية " وفقاً للنموذج المرفق بالموقع الإلكتروني ، (نموذج (1) خاص بنشر في المجلات ، نموذج (2) خاص بنشر كتاب أو فصل في كتاب أو Editing لكتاب) </li>
                <li> &nbsp;&nbsp;&nbsp; في حالة التقدم ببحث منشور في مجلة علمية يتم تقديم مع ما سبق صورة ضوئية مطبوعة من النسخة الأصلية للبحث بها ترقيم الصفحات وتاريخ الإصدار ورقم العدد.</li>
                <li> &nbsp;&nbsp;&nbsp; في حالة التقدم بكتاب كامل أو فصل في كتاب أو Editing لكتاب يتم تقديم مع ما سبق صورة ضوئية مطبوعة من غلاف الكتــــاب و الفهرس متضمنة رقم (ISBN) ، وتقدم نسخة من الكتاب عند تسليم تلك الأوراق للإطلاع عليها</li>
                <li> &nbsp;&nbsp;&nbsp; بيانات يتم إرسالها إلكترونياً عبر الموقع الإلكتروني للإدارة من خلال إنشاء حساب شخصي علي الموقع وإستيفاء البيانات المطلوبة وفقاً للخانات المخصصة :
                    <ol>
                        <li> &nbsp;&nbsp;&nbsp; بيانات عن الباحث الرئيسي والمشاركين معه من جامعة الاقصر، وكذلك عن البحث أو الكتاب أو الفصل المنشور .</li>
                        <li> &nbsp;&nbsp;&nbsp; في حالة نشر بحث في مجلة دولية يتم إرسال نسخة إلكترونية من البحث في (صيغة PDF) تحتوي علي ترقيم الصفحات وتاريخ الإصدار ورقم العدد.</li>
                        <li> &nbsp;&nbsp;&nbsp; في حالة نشر كتاب يتم إرسال ملخص البحث أو الكتاب ""Abstract.</li>
                    </ol>
                </li>
            </ol>
            <strong>علماً بأن التقـــدم للإصـدار الأول لهذا العام  يبــداء إعتبــاراً من 15/1/2019 وأخــر موعد للتقدم 15/3/2020.</strong>

        </div>

    </div>
</div>

<!-- end section artical university president -->

<div class="clear"></div>

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/Research/awards/best-master-or-ph-d-thesis"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/Research/awards/award">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>

<app-scroll></app-scroll>

<app-footer></app-footer>