<app-header></app-header>

<!-- start section breadcrumb -->

<div class="breadcrumb-top">
  <div class="overlay"></div>
  <div class="container">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0);">الطلاب</a></li>
              <li class="breadcrumb-item"><a routerLink="/about/info/university-president">خدمات الوافدين</a></li>
          </ol>
      </nav>
  </div>
</div>

<!-- end section breadcrumb -->



<!-- start section artical university president -->

<div class="system-message">
  <div class="container">
      <div class="message-title">
          <h2>
             مكتب رعاية الوافدين والمبتعثين
          </h2>
          <ul>
              <li><a href="javascript:void(0);">المعلومات info </a></li>
              <li><span>  13 ديسمبر 2020</span></li>
              <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
          </ul>
      </div>
      <div class="contain-message">
        <!--Vision-->
        <h4>الرؤية</h4>
        <p>يصبو مكتب رعاية الوافدين والمبتعثين بجامعة الأقصر لتقديم خدمة متميزة للطلاب الوافدين لتصبح الجامعة من الجامعات المصرية الرائدة عربيًا وإفريقيًا وعالميًا.</p>
        <hr/>

        <!--Meesage -->
        <h4>الرسالة</h4>
        <p>تقديم مختلف الخدمات للطلاب الوافدين وتسهيل الإجراءات الإدارية الخاصة بتسجيلهم وقيدهم بالجامعة وتقديم خدمات تعليمية وبحثية لهم وفقًا للمعايير الدولية في التعليم لدعم صورة الجامعة على المستوى العربي والدولي، وزيادة عوامل الجذب التي تتمتع بها الجامعة من خلال تقديم مختلف الخدمات للطلاب الوافدين والذين سيصبحون بعد تخرجهم سفراء للجامعة في بلادهم. وكذلك مساعدة الطلاب الوافدين على التأقلم مع الحياة في مجتمع الجامعة والاندماج في الحياة الجامعية مما يثرى الكيان الطلابي بالجامعة.</p>
        <hr/>

        <!--Goals-->
        <h4>الأهداف</h4>
        <ol>
          <li>دعم صورة جامعة الأقصر كواحدة من الجامعات المصرية الفتية.</li>
          <li>توفير المعلومات الخاصة بكافة البرامج الدراسية بالجامعة وشروط الالتحاق بها.</li>
          <li>تيسير ومتابعة إجراءات القيد والتسجيل والتخرج للطلاب الوافدين.</li>
          <li>متابعة العملية التعليمية للطلاب الوافدين والسعي الدؤوب لحل المشكلات التي توجهها.</li>
          <li>نشر ثقافة أهمية الطلاب الوافدين ورعايتهم داخل الجامعة ولدى أوساط أعضاء هيئة التدريس والإداريين والطلاب الوافدين المسجلين بالجامعة بالفعل.</li>
          <li>توفير الرعاية الكاملة للطلاب الوافدين داخل الجامعة .</li>
          <li>الارتقاء بمستوى جودة الخدمات المقدمة للطلاب الوافدين.</li>
          <li>المساعدة فى حل المشكلات الدراسية والإقامة وغيرها داخل وخارج الجامعة.</li>
        </ol>
      </div>
  </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
  <div class="container">
      <ul>
          <li>
              <a href="https://www.linkedin.com/" target="_blank">
                  <i class="fab fa-linkedin fa-lg"></i>
                  linkedin
              </a>
          </li>
          <li>
              <a href="https://www.youtube.com/" target="_blank">
                  <i class="fab fa-youtube fa-lg"></i>
                  youtube
              </a>
          </li>
          <li>
              <a href="https://www.pinterest.com/" target="_blank">
                  <i class="fab fa-pinterest fa-lg"></i>
                  pinterest
              </a>
          </li>
          <li>
              <a href="https://www.instagram.com/" target="_blank">
                  <i class="fab fa-instagram fa-lg"></i>
                  instagram
              </a>
          </li>
          <li>
              <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter fa-lg"></i>
                  twitter
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com/" target="_blank">
                  <i class="fab fa-facebook fa-lg"></i>
                  facebook
              </a>
          </li>
      </ul>
  </div>
</div>

<!-- end section university social media  -->

<div class="container">
  <div class="driv"></div>
</div>



<app-scroll></app-scroll>

<app-footer></app-footer>
