<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الجامعة</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-goals">اهداف الجامعة</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                اهداف الجامعة الاستراتيجية
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <ol>
                <li>&nbsp;&nbsp; إعداد طلاب متميزين في مجالات تخصصهم، قياديين ومنتجين في مجتمعاتهم</li>
                <li>&nbsp;&nbsp; تطوير قدرات البحث العلمي والابتكار في المجالات ذات الأهمية الوطنية والدولية</li>
                <li>&nbsp;&nbsp; توسيع نطاق الاعتماد الدولي للجامعة ولبرامجها الأكاديمية وتعزيز سمعتها دولياً</li>
                <li>&nbsp;&nbsp; الاهتمام بتنمية التكنولوجيا وتطويرها والاستفادة منها في تطوير المجتمع</li>
                <li>&nbsp;&nbsp; ترسيخ ثقافة الابتكار وريادة الأعمال في بيئة العمل المؤسسي</li>
                <li>&nbsp;&nbsp; تعزيز دور الجامعة في إنتاج ونقل المعارف والمهارات والإسهام في رقي الآداب والفنون والعلوم المتقدمة لخدمة المجتمع</li>
                <li>&nbsp;&nbsp; دعم برامج تحافظ على التراث الإنساني العالمي وبصفة خاصة لمدينة الأقصر</li>
                <li>&nbsp;&nbsp; ضمان تقديم كافة الخدمات الإدارية وفق معايير الجودة والكفاءة والشفافية</li>
                <li>&nbsp;&nbsp; يجاد وتهيئة البيئة المناسبة للتعليم المستمر والمحافظة على مسار التطوير من خلال عمليات التقييم المستمرة لكل من الأنشطة الجامعية لضمان تحقيق التميّز وأعلى معايير الجودة</li>
                <li>&nbsp;&nbsp; توثيق الروابط العلمية والثقافية مع الجامعات والهيئات العلمية ومراكز البحوث والتطوير الإقليمية والدولية</li>
            </ol>
        </div>
    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/about/info/university-ranking"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/about/info/university-message">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>