<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../../assets/photo/innovation-1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">البحث العلمي</a></li>
                <li class="breadcrumb-item"><a routerLink="/Research/scientific-awards">جوائز البحث العلمي</a></li>
                <li class="breadcrumb-item"><a routerLink="/Research/awards/best-master-or-ph-d-thesis">التقدم لجائزة أفضل رسالة مساجتير أو دكتوارة لعام 2019</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                التقدم لجائزة أفضل رسالة مساجتير أو دكتوارة لعام 2019
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <p>تقوم الجامعة سنوياَ بتكريم الهيئة المعاونة ( معيدين -  مدرسين مساعدين ) بما فيهم طلاب الدراسات العليا الحاصلين علي الدرجات العلمية في الفترة ما بين 1/10/2013 – 30/9/2014 وفقاً لضوابط الحصول علي أفضل تلك الرسائل التي أقرها مجلس الدراسات العليا في هذا الشأن :</p>
            <div class="contain">
                <div class="h6">أولاً :</div>
                <ul>
                    <li> &nbsp;&nbsp;&nbsp; قرر مجلس الدراسات العليا والبحوث بتاريخ 19/3/2014 علي أن تمنح جائزة أفضل رسالة عن سنة سابقة بناءً علي عدد الرسائل التي تمنح لكل كلية / معهد بحد أقصي (6)  رسالة ماجستير ، (4) رسالة دكتوراه.</li>
                    <li> &nbsp;&nbsp;&nbsp; كما سبق أن وافق مجلس الدراسات العليا والبحوث بجلسته في 23 /1/2014م الموافقة علي أن تقوم ( الكلية / المعهد ) بالإختيار النهائي وفق المخصص لكل ( كلية / معهد ) تبعاً للمعايير المحددة في النموذج المرفق ( نموذج 1 ) وفي حالة عدم رغبة ( الكلية / المعهد ) القيام بعملية الأختيار النهائي ترسل الأوراق إلي الإدارة العامة للبحوث العلمية لأختيار أفضل الرسائل حــيث يتم تقييــم الــرسالة عن طريق لجنة تشكل بمعرفة المكتب الفني للسيد أ.د./ نائب رئيس الجامعة لشئون الدراسات العليا والبحوث وفق المعايير المحددة.</li>
                </ul>
            </div>
            <div class="contain">
                <div class="h6">ثانياً : يرجى من سيادتكم التفضل بالعلم والإحاطة وإصدار توجيهاتكم نحو إتخاذ الإجراءات اللازمة وموافاة الإدارة العامة للبحوث العلمية بمايلــــي :</div>
                <p>خطاب بموافقة مجلس ( الكلية / المعهد ) علي الأختيار النهائي أو الترشيح للرسائل المختارة معتمد ومختوم مرفقاً به :</p>
                <ul>
                    <li> &nbsp;&nbsp;&nbsp; رسالة الماجستير والدكتوراه وملخص الرسالة ( عربي -  أنجليزي ).</li>
                    <li> &nbsp;&nbsp;&nbsp; إستيفاء إستمارة المعاييرالخاصة بكل رسالة تم إختيارها من ( الكلية / المعهد ) معتمدة ومختومة بعد إستيفائها ، وما يفيد تحقيق أي من بنودها ( مرفق رقم 1).</li>
                    <li> &nbsp;&nbsp;&nbsp; إستيفاء النموذج الخاص ببيانات الطالب موضحاً بها Keywords – Abstract في صورة  S/H copy باللغة الإنجليزية واللغة العربية مرفقاً به صورة فوتوغرافية للطالب( مرفق رقم 2).</li>
                    <li> &nbsp;&nbsp;&nbsp; إستيفاء النموذج الخاص بأسماء السادة المشرفين علي تلك الرسائل المختارة من جامعة الاقصر ومن خارج جامعة الاقصر معتمدة ومختومة ( مرفق  رقم 3 ).</li>
                    <li> &nbsp;&nbsp;&nbsp; إستمارة ( 50 ع.ح ) معتمدة ومختومة للطلاب الذين تم أختيارهم وكذلك المشرفون علي تلك الرسائل من الجامعة ومن خارج الجامعة.</li>
                    <li> &nbsp;&nbsp;&nbsp; يتم إرسال أربعة نسخ من المطلوب ( من النماذج ).</li>
                </ul>
            </div>
            <div class="contain">
                <div class="h6">ثالثاً :</div>
                <ul>
                    <li> &nbsp;&nbsp;&nbsp; يتم الصرف للفائزين سواء من طلاب الدراسات العليا أوالهيئة المعاونة بواقع 2000 جنيه للماجستير ، 3000 جنيه للدكتوراه.</li>
                    <li> &nbsp;&nbsp;&nbsp; يتم توزيع مكافأة السادة المشرفين على أفضل الرسائل ( 3000 جنيه ) على السادة الأساتذة المشرفين على تلك الرسائل بالتساوي أي كان عددهم ( للمشرفين من جامعة الاقصر ومن خارج جامعة الاقصر ).</li>
                    <li> &nbsp;&nbsp;&nbsp; يتم تكريم السادة الفائزين على أفضل الرسائل العلمية في إحتفال تنظمه الجامعة ويتم الإعلان عنــه في حينه.</li>
                </ul>
            </div>
            <div class="h6"><strong>* أخر موعد لقبول الأوراق 31 / 3 / 2015م.</strong></div>
            <p>يمكنك تحميل الملفات المرفقة من<a href="javascript:void(0);"> هنــــــــــــــــــــا </a></p>
        </div>

    </div>
</div>

<!-- end section artical university president -->

<div class="clear"></div>

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/Research/awards/patent"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/Research/awards/international-scientific-publishing">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>

<app-scroll></app-scroll>

<app-footer></app-footer>