.cart{
  margin: 50px 0;
  perspective: 1000px;
}

.cart .content{
  transform-style: preserve-3d;
  width: 100%;
  height: 370px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  position: relative;
}

.cart .content:hover{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.cart .content > div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #EEE;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-image:linear-gradient(to bottom,var(--second_color),var(--main_color)) ;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  color: #FFF;
  text-transform: capitalize;
}

.cart .content .front{
  z-index: 2;
}

.cart .content .front .photo{
  position: relative;
  right: 45%;
  top: 15%;
  width: 100px;
  height: 100px;
  transform: rotate(45deg) translateY(-50%);
  -webkit-transform: rotate(45deg) translateY(-50%);
  -moz-transform: rotate(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  -o-transform: rotate(45deg) translateY(-50%);
  overflow: hidden;
  border: none;
  background-color: transparent;
}

.cart .content .front .photo img{
  width: 140%;
  height: 117%;
  transform: rotate(-45deg) translateX(20px);
  -webkit-transform: rotate(-45deg) translateX(20px);
  -moz-transform: rotate(-45deg) translateX(20px);
  -ms-transform: rotate(-45deg) translateX(20px);
  -o-transform: rotate(-45deg) translateX(20px);
}

.cart .content .front .name{
  margin-top: 20px;
}

.cart .content .front label{
  color: #000;
}

.cart .content .front .work,.cart .content .front .detail,.cart .content .front .name{
  display: inline-block;
}

.cart .content .front .detail{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}


.cart .content .front .hover{
  color: #000;
  font-size: 18px;
  font-family: 500;
}

.cart .content .back{
  z-index: 1;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.cart .content .back label{
  color: #000;
}

.cart .content .back .links{
  list-style: none;
  margin-right: -50px;
}

.cart .content .back .links li a{
  color: #960000;
  text-decoration: none;
}
