<app-header></app-header>


<div class="cart">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="content">
          <div class="front">
            <div class="photo">
              <img src="../../../../assets/photo/37fwNOPW_400x400.jpg" alt="">
            </div>
            <label for="name"> الاسم : -</label>
            <div class="name" id="name">احمد منصور محمد</div>
            <br>
            <label for="work">الوظيفة : -</label>
            <div class="work" id="work">front-end developer</div>
            <br>
            <label for="detail">بعض التفاصيل : -</label>
            <div class="detail" id="detail">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, eius sapiente in odit autem rem perferendis consectetur, accusamus iure esse minus rerum aperiam quod provident omnis asperiores molestias voluptas labore.
            </div>
            <div class="hover">
              hover to see details
            </div>
          </div>
          <div class="back">
            <label for="details">التفاصيل : -</label>
            <div class="more-detail">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis beatae modi voluptas nemo nostrum, impedit autem odio sapiente, dolore cumque unde sint cupiditate atque commodi perspiciatis sequi cum illo natus?</div>
            <br>
            <label for="links">بعض اللينكات</label>
            <ul id="links" class="links">
              <li>
                <a href="https://www.facebook.com/" target="_blank">facebook</a>
                <i class="fab fa-facebook-f"></i>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">linkedin</a>
                <i class="fab fa-linkedin-in"></i>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">twitter</a>
                <i class="fab fa-twitter"></i>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">gitHup</a>
                <i class="fab fa-github"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="content">
          <div class="front">
            <div class="photo">
              <img src="../../../../assets/photo/37fwNOPW_400x400.jpg" alt="">
            </div>
            <label for="name"> الاسم : -</label>
            <div class="name" id="name">يوسف حربي عقيل</div>
            <br>
            <label for="work">الوظيفة : -</label>
            <div class="work" id="work">back-end developer</div>
            <br>
            <label for="detail">بعض التفاصيل : -</label>
            <div class="detail" id="detail">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, eius sapiente in odit autem rem perferendis consectetur, accusamus iure esse minus rerum aperiam quod provident omnis asperiores molestias voluptas labore.
            </div>
            <div class="hover">
              hover to see details
            </div>
          </div>
          <div class="back">
            <label for="details">التفاصيل : -</label>
            <div class="more-detail">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis beatae modi voluptas nemo nostrum, impedit autem odio sapiente, dolore cumque unde sint cupiditate atque commodi perspiciatis sequi cum illo natus?</div>
            <br>
            <label for="links">بعض اللينكات</label>
            <ul id="links" class="links">
              <li>
                <a href="https://www.facebook.com/" target="_blank">facebook</a>
                <i class="fab fa-facebook-f"></i>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">linkedin</a>
                <i class="fab fa-linkedin-in"></i>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">twitter</a>
                <i class="fab fa-twitter"></i>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">gitHup</a>
                <i class="fab fa-github"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="content">
          <div class="front">
            <div class="photo">
              <img src="../../../../assets/photo/37fwNOPW_400x400.jpg" alt="">
            </div>
            <label for="name"> الاسم : -</label>
            <div class="name" id="name">شريف محمد السيد</div>
            <br>
            <label for="work">الوظيفة : -</label>
            <div class="work" id="work">android developer</div>
            <br>
            <label for="detail">بعض التفاصيل : -</label>
            <div class="detail" id="detail">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, eius sapiente in odit autem rem perferendis consectetur, accusamus iure esse minus rerum aperiam quod provident omnis asperiores molestias voluptas labore.
            </div>
            <div class="hover">
              hover to see details
            </div>
          </div>
          <div class="back">
            <label for="details">التفاصيل : -</label>
            <div class="more-detail">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis beatae modi voluptas nemo nostrum, impedit autem odio sapiente, dolore cumque unde sint cupiditate atque commodi perspiciatis sequi cum illo natus?</div>
            <br>
            <label for="links">بعض اللينكات</label>
            <ul id="links" class="links">
              <li>
                <a href="https://www.facebook.com/" target="_blank">facebook</a>
                <i class="fab fa-facebook-f"></i>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">linkedin</a>
                <i class="fab fa-linkedin-in"></i>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">twitter</a>
                <i class="fab fa-twitter"></i>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank">gitHup</a>
                <i class="fab fa-github"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-scroll></app-scroll>

<app-footer></app-footer>
