<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../assets/photo/university-library-4825366_1920.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">البحث العلمي</a></li>
                <li class="breadcrumb-item"><a routerLink="/Research/libraries"> المكتبات</a></li>
                <li class="breadcrumb-item"><a routerLink="/Research/more-libraries"> المزيد عن المكتبة المركزية</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                المزيد عن المكتبة المركزية
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <p>تستمد مكتبة الجامعة وأهدافها من المؤسسة التعليمية التابعة لها، كما يعتمد نجاح الجامعة فى أداء رسالتها على صلاحية مكتباتها، حيث تقع عليها مسئولية العملية التعليمية والبحثية بالجامعة، ورسالة المكتبة هى جزء لا يتجزأ من رسالة الجامعة التى تتركز فى التعليم، والبحث وخدمة المجتمع فهى التى تساعد الطالب والباحث والأستاذ على أداء مهمته، وهى التى توفر لهم مصادر المعلومات المختلفة وتقوم بتنظيمها وحفظها وصيانتها كما يقع على عاتقها مهمة إرشاد وتعليم المستفيدين كيفية الوصول إلى أوعية المعلومات وكيفية الاستفادة منها.</p>
            <p>
                وتحتل مكتبة الجامعة – كمصدر للمعلومات – المكان والمركز الأول للجامعة فهى تخدم كل وظائفها التعليمية والبحثية وتساعد على خلق آفاق جديدة فى العلم والمعرفة عبر الأجيال فهى تربط بين الماضى والحاضر بجسر من الاستمرار. <br>
                وبجانب الدور التعليمى والبحثى لمكتبة الجامعة يأتى دورها التربوى فى تنمية القدرات والملكات. ومما لا شك فيه أن مكتبة الجامعة مركز الإشعاع الذى ينطلق منه مختلف الأنشطة تبعا لما تحتويه من كنوز العلم والمعرفة وتبعا لما تقدمه لروادها من خدمات تساعدهم على تحقيق أهدافهم وآمالهم وتطلعاتهم للمستقبل.
            </p>
            <p>انطلاقا من ذلك شيدت الجامعة مكتبتها المركزية فى أبريل 1931 داخل حرم الجامعة وافتتحت رسميا فى 27 فبراير 1932. وانفردت المكتبة المركزية بجامعة الاقصر منذ تأسيسها بسمات خاصة وظروف ربما لم تتح لغيرها إذ توالت عليها الهبات والهدايا من الهيئات العلمية فى الداخل والخارج. وتلقت مجموعات كبيرة وقيمة من الكتب المطبوعة والمخطوطات والدوريات العربية والأجنبية والخرائط والنقود الأثرية والأنواط والبرديات والأحجار الأثرية والمعاجم والموسوعات والمراجع العامة والمتخصصة. وحصلت على مجموعات من الكتب النفيسة والنادرة ذات القيمة العلمية وكان ذلك عن طريق الإهداء والشراء.</p>
            <p>
                ومن المجموعات الثمينة والمتميزة التى اقتنتها المكتبة المركزية مجموعة الأمير إبراهيم حلمى، وهى مجموعة تاريخية لها قيمتها الخاصة لكل باحث فى تاريخ مصر والسودان ووادى النيل بل وتاريخ الشرق أجمع وتضم الكثير من المصادر النادرة ذات التجليد الفاخر، ومجموعة الأمير كمال الدين حسين التى أهديت إلى الجامعة وأغلبها فى الأدب والجغرافيا والرحلات، كما أثرت رصيدها بشراء مجموعات العلماء والمستشرقين كمجموعات العالم المستشرق "زيبولد" وأستاذ الآثار "بونكر" والدكتور "ماكس ماير هوف"  الذى تتميز مجموعته بما تضمه من المخطوطات العربية فى تاريخ الطب والعلوم الطبية، ومجموعة المرحوم "أحمد طلعت" التى تحتوى على عدد كبير من المخطوطات العربية والفارسية والتركية، ومجموعة الدكتور "محمد عسكر" التى تشتمل على الكثير من المراجع العربية الأساسية كالمعاجم وكتب الطب والتاريخ والآداب والعلوم الدينية. كما أهديت للمكتبة مجموعات عديدة ومؤلفات نفيسة باللغات المختلفة من  أشهرها كتاب "وصف مصر" الذى وضعه علماء الحملة الفرنسية. <br>
                كذلك يوجد بالمكتبة مجموعات من المسكوكات القيمة التى أهداها "مسيو داتارى" وهى تشتمل على مجموعة من النقود الأثرية من العصرين اليونانى والرومانى وهى أتم مجموعة فى بابها بعد مجموعة المتحف البريطانى ولا تزال الهدايا مستمرة حتى وقتنا هذا من علماء أجلاء وشخصيات متميزة.
            </p>
            <p>
                وتحقيقا للمستهدفات التى ترنو إليها الجامعة من أجل خدمة المجتمع وتلبية للمتطلبات الأساسية لعمليات البحث العلمى والتعليم. وتيسيرا على الطلاب والباحثين أنشئت فى كل كلية ومعهد مكتبة خاصة بها تضم بين جنباتها الكتب والمراجع المتخصصة التى تخدم العملية التعليمية بها وتخضع فى الإشراف الفنى للإدارة العامة للمكتبات التى يشرف عليها مدير عام المكتبات الجامعية تحت رئاسة الأستاذ الدكتور/نائب رئيس الجامعة لشئون الدراسات العليا والبحوث. <br>
                وقد جندت المكتبة جميع مواردها البشرية والمادية لخدمة الرواد وقامت كل إدارة من إداراتها بالدور المنط بها على النحو التالى:
            </p>

            <div class="contain">
                <div class="h6"><strong>أولآ : إدارة التزويد:</strong></div>
                <p>تقوم باختيار وشراء وتسجيل الكتب والمراجع العربية والأجنبية للمكتبة المركزية للجامعة من أجل تنمية رصيدها عن طريق الشراء أو التبادل أو الإهداء، كما تقوم بشراء الدورات العلمية لجميع كليات ومعاهد الجامعة وتبادل مطبوعات الجامعة والهيئات العلمية ومراكز البحوث بالداخل والخارج.</p>
            </div>
            <div class="contain">
                <div class="h6"><strong>ثانيآ : إدارة الفهارس:</strong></div>
                <p> تتولى إدارة الفهارس المعالجة الفنية للمواد المكتبية التى ترد للمكتبة وتطبق الإدارة قواعد الفهرسة الانجلو أمريكية  وخطة مكتبة الكونجرس فى التصنيف فى تنظيم مجموعاتها.</p>
            </div>
            <div class="contain">
                <div class="h6"><strong>ثالثآ : إدارة التوثيق:</strong></div>
                <p>أنشئت هذه الإدارة لمواكبة التطورات التكنولوجية واستخدامها فى عمليات حفظ واسترجاع المعلومات وتتولى تصوير الرسائل العلمية لدرجتى الماجستير والدكتوراة الممنوحة من جامعة الاقصر على الميكروفيلم وتصدر قوائم ببليوجرافية بالرسائل التى قامت بتصويرها كما تصدر قوائم ببليوجرافية موضوعية للهيئات العلمية بناء على رغبتها كما تقدم خدمات التصوير وعمليات الطبع والتجليد وصيانة مقتنيات المكتبة.</p>
            </div>
            <div class="contain">
                <div class="h6"><strong>رابعا : إدارة المتابعة الفنية:</strong></div>
                <p>تقوم بتسجيل وفهرسة الرسائل الجامعية المجازة من جامعة الاقصر وإعداد الفهارس اللازمة لاسترجاعها.</p>
            </div>
            <div class="contain">
                <div class="h6"><strong>خامسا : إدارة متابعة وتنفيذ التوصيات:</strong></div>
                <p>تقوم بمتابعة وتنفيذ التوصيات والقرارات الصادرة من مجلس الجامعة وتشرف على برامج تنمية قدرات العاملين وإعداد التقارير والإحصاءات.</p>
            </div>
            <div class="contain">
                <div class="h6"><strong>سادسا : إدارة مكتبات الكليات والمعاهد:</strong></div>
                <p>تقوم بالإشراف الفنى على مكتبات الكليات والمعاهد وتشرف على عمليات الجرد بهذه المكتبات.</p>
            </div>
            <div class="contain">
                <div class="h6"><strong>سابعا : إدارة الشئون الإدارية:</strong></div>
                <p>تقوم بالعمليات والإجراءات المتصلة بشئون العاملين من حيث استحقاقاتها وترقياتهم وأجازاتهم ... الخ.</p>
            </div>
            <div class="contain">
                <div class="h6"><strong>ثامنا : إدارة الشئون المالية:</strong></div>
                <p>تتولى هذه الإدارة جميع إجراءات الحسابات والميزانية، ويتبعها قسم مطبوعات الجامعة الذى يتولى بيع المطبوعات للطلبة والباحثين بتخفيضات تصل إلى 25% من قيمتها كما أنه مصدر للتبادل مع الهيئات الأخرى .</p>
            </div>
            <div class="contain">
                <div class="h6"><strong>تاسعا : إدارة المشروعات:</strong></div>
                <p>تتولى هذه الإدارة تجديد وصيانة فهرس المكتبة المركزية ويستعان بها فى تطوير وتحديث فهارس بعض مكتبات الكليات والمعاهد.</p>
            </div>
            <div class="contain">
                <div class="h6"><strong>عاشرا : إدارة الإعارة والمراجع:</strong></div>
                <p>تقوم الإدارة بتيسير البحث والإطلاع على كنوز المعرفة التى تقتنيها المكتبة والإجابة عن استفسارات المستفيدين وإرشادهم، كذلك إتاحة الاطلاع الداخلى من خلال قاعات متخصصة فى فروع المعرفة. وقد رتبت الكتب والمراجع بها على أساس موضوعى وتفتح القاعات أبوابها للباحثين من التاسعة صباحا حتى السادسة مساءا أثناء العام الدراسى ومن التاسعة صباحا حتى الثانية بعد الظهر إثناء العطلة الصيفية وتلك القاعات هى:-</p>
                <ol>
                    <li> &nbsp;&nbsp;&nbsp; قاعات اللغات والآداب الأوربية:
                        <p>وتضم الكتب والمراجع ودوائر المعارف والقواميس فى اللغات والآداب الإنجليزية والفرنسية والألمانية.</p>
                    </li>
                    <li> &nbsp;&nbsp;&nbsp; قاعات كتب التراث والدراسات الإسلامية والمصادر والمراجع الأساسية فى الدراسات الشرقية.</li>
                    <li> &nbsp;&nbsp;&nbsp; قاعة الدراسات الإنسانية:
                        <p>وتضم الكتب والمراجع فى مجال الدراسات الإنسانية والاجتماعية (المكتبات والتاريخ والجغرافيا، والفلسفة وعلم النفس، والاجتماع، والإعلام ...الخ).</p>
                    </li>
                    <li> &nbsp;&nbsp;&nbsp; قاعة الرسائل الجامعية:
                        <p>تضم رسائل الماجستير والدكتوراه فى مجال الإنسانيات والاجتماعيات.</p>
                    </li>
                    <li> &nbsp;&nbsp;&nbsp; قاعة المراجع والدوريات:
                        <p>تشمل مجموعة المراجع العامة والمتخصصة فى مختلف فروع المعرفة وتحتوى على المعاجم والكشافات والفهارس ويطلب منها الدوريات المحلية والأجنبية.</p>
                    </li>
                    <li> &nbsp;&nbsp;&nbsp; قاعة السمعيات للمكفوفين:
                        <p>وهى مدعومة بأحدث الأجهزة السمعية والأشرطة المسجلة للمحاضرات والكتب فى فروع اللغة العربية والفلسفة والتاريخ والاجتماع والإعلام والحقوق، وتقوم بنسخ الأشرطة للطلاب المكفوفين مجانا.وكما تطورت رسالة الجامعة على مر العصور وصارت أكثر التصاقا بقضايا المجتمع فقد تطورت أيضا أهداف المكتبة فانتقلت من مرحلة التخزين إلى دورها كجهاز معلومات متطور، فقد تم توصيل المكتبة بشبكة المعلومات الجامعية بالمجلس الأعلى للجامعات وشبكة المعلومات بمركز التكنولوجيا وتنمية المجتمع وسيتم عقد الاتفاقات المناسبة لتيسير اطلاع الباحثين على قواعد المعلومات المتوافرة لديهم.</p>
                        <p>ولم يقتصر نشاط المكتبة على ما سبق ولكنها أولت عنايتها لأهمية تطويرها تطويرا جذريا باستخدام تقنيات التكنولوجيا الحديثة (الحاسب الآلى) فى ميكنة إجراءاتها الفنية لبناء قاعدة للمعلومات لخدمة الإدارة العامة للمكتبات بصورة تمكن من تحقيق الأهداف التالية:</p>
                        <ol>
                            <li> &nbsp;&nbsp;&nbsp; تنظيم عمليات بناء المجموعات وترشيد الشراء.</li>
                            <li> &nbsp;&nbsp;&nbsp; تنظيم عمليات استرجاع المعلومات المطلوبة لخدمة بحوث هيئة التدريس والطلاب والباحثين بطريقة سريعة وملائمة.</li>
                            <li> &nbsp;&nbsp;&nbsp; تجهيز وإعداد الإحصائيات والمعلومات والببليوجرافيات التى تعكس أنشطة المكتبة بما يمكن إدارة المكتبة ومتخذى القرار بالجامعة من حسن إدارة المكتبة وتحديد احتياجاتها بصورة دقيقة وما ينتج عن ذلك من رفع كفاءة الأداء وتحقيق خدمة مكتبية أكثر فعالية لجميع الرواد والباحثين. </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- end section artical university president -->

<div class="clear"></div>

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<app-scroll></app-scroll>

<app-footer></app-footer>