<app-header></app-header>

<div class="revierw">
    <div class="container">
        <div class="head">
            <h5> الطلبات قيد المراجعة</h5>
            <input type="search">
        </div>
        <div class="content">
            <div class="images">
                <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
            </div>
            <div class="info">
                <a routerLink="/student/chat"><h5>احمد منصور</h5></a>
                <div class="time">15/3/2020</div>
            </div>
        </div>
        <div class="content">
            <div class="images">
                <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
            </div>
            <div class="info">
                <a routerLink="/student/chat"><h5>احمد منصور</h5></a>
                <div class="time">15/3/2020</div>
            </div>
        </div>
        <div class="content">
            <div class="images">
                <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
            </div>
            <div class="info">
                <a routerLink="/student/chat"><h5>احمد منصور</h5></a>
                <div class="time">15/3/2020</div>
            </div>
        </div>
        <div class="content">
            <div class="images">
                <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
            </div>
            <div class="info">
                <a routerLink="/student/chat"><h5>احمد منصور</h5></a>
                <div class="time">15/3/2020</div>
            </div>
        </div>
        <div class="content">
            <div class="images">
                <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
            </div>
            <div class="info">
                <a routerLink="/student/chat"><h5>احمد منصور</h5></a>
                <div class="time">15/3/2020</div>
            </div>
        </div>
        <div class="content">
            <div class="images">
                <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
            </div>
            <div class="info">
                <a routerLink="/student/chat"><h5>احمد منصور</h5></a>
                <div class="time">15/3/2020</div>
            </div>
        </div>
    </div>
</div>

<app-scroll></app-scroll>

<app-footer></app-footer>