<app-header></app-header>

<div class="container">
    <div class="main">
        <div class="profile">
            <div class="chating">
                <div class="inforamtion right">
                    <div class="photo">
                        <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
                    </div>
                    <div class="message">
                        بقولك السوال التاني الجزء التاني والأخير عايز ايه فواد عشان انا مش فاهمهم
                    </div>
                    <div class="time">20 mins</div>
                </div> 

                <div class="inforamtion right">
                    <div class="photo">
                        <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
                    </div>
                    <div class="message">
                        بقولك السوال التاني الجزء التاني والأخير عايز ايه فواد عشان انا مش فاهمهم
                    </div>
                    <div class="time">20 mins</div>
                </div>

                <div class="inforamtion left">
                    <div class="message">
                        بقولك السوال التاني الجزء التاني والأخير عايز ايه فواد عشان انا مش فاهمهم
                    </div><div class="photo">
                        <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
                    </div>
                    <div class="time">20 mins</div>
                </div>

                <div class="inforamtion left">
                    <div class="picture">
                        <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
                    </div>
                    <div class="photo">
                        <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
                    </div>
                    <div class="time">20 mins</div>
                </div>

                <div class="inforamtion right">
                    <div class="photo">
                        <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
                    </div>
                    <div class="message">
                        بقولك السوال التاني الجزء التاني والأخير عايز ايه فواد عشان انا مش فاهمهم
                    </div>
                    <div class="time">20 mins</div>
                </div>

                <div class="inforamtion left">
                    <div class="message">
                        بقولك السوال التاني الجزء التاني والأخير عايز ايه فواد عشان انا مش فاهمهم
                    </div>
                    <div class="photo">
                        <img src="../../../../assets/photo/alex-knight-2EJCSULRwC8-unsplash.jpg" alt="">
                    </div>
                    <div class="time">20 mins</div>
                </div>
            </div>
            <div class="send">
                <div class="mass">
                    <input type="text" placeholder="Type Your Message Here">
                </div>
                <div class="send_message">
                    <button type="button" class="btn btn-warning">ارسال</button>
                    <input type="file">
                </div>
            </div>
        </div>
        <div class="list-group">
            <a routerLink="/student/students" class="list-group-item list-group-item-action" 
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                الرئيسية
            </a>
            
            <a routerLink="/student/student-ticket" class="list-group-item list-group-item-action"
            routerLinkActive="active">استفسارات</a>

            <a routerLink="/student/portal" class="list-group-item list-group-item-action"
            routerLinkActive="active">portal</a>

            <a routerLink="/student/chat" class="list-group-item list-group-item-action"
            routerLinkActive="active">chat</a>
        </div>
    </div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>