<app-header></app-header>

<!-- start section news-->

<div class="news">
  <div class="container">
    <ng-container>
      <div class="new">
        <div class="container">
          <div class="row">
            <!--new 1-->
            <div class="col-lg-4 col-sm-6">
            <a>
              <div
                class="card text-center wow bounceInUp"
                data-wow-duration="2s">
              <h6 class="titleOfEvent" #title>ندوة من مركز القرنة ومجلس مدينة القرنة عن مرض سرطان الثدي ومنسقين القضية السكانية مع واى بير</h6>
                <div class="images">
                  <img
                    src="assets/photo/socail/new1.jpg"
                    class="card-img-top"
                    alt="No Phone Image"
                    #image
                  />
                  <div class="overlay"></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title" #time>
                        11/11/2021 - 20:04
                    </h5>

                  <p class="card-text" #des>
                  </p>
                </div>
              </div>
            </a>
            </div>

            <!--new 2-->
            <div class="col-lg-4 col-sm-6">
              <a>
                <div
                  class="card text-center wow bounceInUp"
                  data-wow-duration="2s">
                <h6 class="titleOfEvent" #title>ندوة تثقيفية باسم العبور للمستقبل جمعية المصرى بالاقصر فى قاعة المؤتمرات</h6>
                  <div class="images">
                    <img
                      src="assets/photo/socail/new2.jpg"
                      class="card-img-top"
                      alt="No Phone Image"
                      #image
                    />
                    <div class="overlay"></div>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title" #time>
                          11/11/2021 - 20:04
                      </h5>

                    <p class="card-text" #des>
                    </p>
                  </div>
                </div>
              </a>
              </div>

            <!--new3-->

               <div class="col-lg-4 col-sm-6">
                <a>
                  <div
                    class="card text-center wow bounceInUp"
                    data-wow-duration="2s">
                  <h6 class="titleOfEvent" #title>احتفال كلية الالسن باستقبال الطلاب الجدد</h6>
                    <div class="images">
                      <img
                        src="assets/photo/socail/new3.jpg"
                        class="card-img-top"
                        alt="No Phone Image"
                        #image
                      />
                      <div class="overlay"></div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" #time>
                            11/11/2021 - 20:04
                        </h5>

                      <p class="card-text" #des>
                      </p>
                    </div>
                  </div>
                </a>
                </div>
          </div>


          <div class="row">
            <!--new4-->
            <div class="col-lg-4 col-sm-6">
            <a>
              <div
                class="card text-center wow bounceInUp"
                data-wow-duration="2s">
              <h6 class="titleOfEvent" #title>المؤتمر العلمى الأول للصحة النفسية وحدة السكان مع مؤسسة المنارة والضحى والمركز الدولى لتطوير التعليم بقاعة المؤتمرات</h6>
                <div class="images">
                  <img
                    src="assets/photo/socail/new5.jpg"
                    class="card-img-top"
                    alt="No Phone Image"
                    #image
                  />
                  <div class="overlay"></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title" #time>
                        11/11/2021 - 20:04
                    </h5>

                  <p class="card-text" #des>
                  </p>
                </div>
              </div>
            </a>
            </div>

            <!--new 5-->
            <div class="col-lg-4 col-sm-6">
              <a>
                <div
                  class="card text-center wow bounceInUp"
                  data-wow-duration="2s">
                <h6 class="titleOfEvent" #title>ندوة من مركز اسنا والتوعية مع واى بير ومنسقين القضية السكانية بمركز اسنا مجلس مدينة اسنا
             عن سرطان الثدى</h6>
                  <div class="images">
                    <img
                      src="assets/photo/socail/new6.jpg"
                      class="card-img-top"
                      alt="No Phone Image"
                      #image
                    />
                    <div class="overlay"></div>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title" #time>
                          11/11/2021 - 20:04
                      </h5>

                    <p class="card-text" #des>
                    </p>
                  </div>
                </div>
              </a>
              </div>

            <!--new6-->

               <div class="col-lg-4 col-sm-6">
                <a>
                  <div
                    class="card text-center wow bounceInUp"
                    data-wow-duration="2s">
                  <h6 class="titleOfEvent" #title>الندوة عن سرطان الثدى مع واى بير من الزانية ومنسقوا القضية السكانية</h6>
                    <div class="images">
                      <img
                        src="assets/photo/socail/new7.jpg"
                        class="card-img-top"
                        alt="No Phone Image"
                        #image
                      />
                      <div class="overlay"></div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" #time>
                            11/11/2021 - 20:04
                        </h5>

                      <p class="card-text" #des>
                      </p>
                    </div>
                  </div>
                </a>
                </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>



<app-scroll></app-scroll>

<app-footer></app-footer>
