
.page-item {
  display: inline-block;
}

.pagination li {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.pagination li:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.pagination li a {
  box-shadow: none;
  color: var(--main_color);
}

.pagination li a:hover {
  background-color: var(--main_color);
  color: #fff;
}