<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../assets/photo/workshop.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">البحث العلمي</a></li>
                <li class="breadcrumb-item"><a routerLink="/Research/workshops">  ورش عمــــــــــــــل </a></li>
                <li class="breadcrumb-item"><a routerLink="/Research/workShop/work-shop2"> حقوق الملكية الفكرية - كلية الحاسبات والمعلومات</a></li>
                </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                حقوق الملكية الفكرية - كلية الحاسبات والمعلومات
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <p>عقدت كلية الحاسبات والمعلومات، جامعة الاقصر، ندوة بعنوان "حقوق الملكية الفكرية"، وذلك يوم الإثنين، الموافق 12/12/2011، وتفضل بالمحاضرة أ.د./ شريف هاشم نائب رئيس هيئة تنمية صناعة تكنولوجيا المعلومات التابع لوزارة الإتصالات تكنولوجيا والمعلومات، أ./ محمد حجازى مدير مكتب حماية حقوق الملكية فكرية بالهيئة. واحتوت الندوة على الموضوعات الاتية المفاهيم الاساسية لحقوق الملكية الفكرية، طرق حماية حقوق الملكية الفكرية،</p>
            <p>ومايختص بالملكية الفكرية للبرمجيات، عرض لقضايا طرحت على المستويات المحلية والعربية والدولية للصعوبات والمعوقات التى توجه المبتكرين والمخترعين لحماية حقوق التأليف والملكية الفكرية فى مجتمع المعلومات، الإجراءات التى يجب ان تتبعها الكلية فى لحماية حقوق الملكية الفكرية فى مجال البحث العلمى، ومجال التأليف والنشر، الإجراءات التى يجب ان تتبعها الكلية فى لحماية حقوق الملكية الفكرية فى مجال بناء البرمجيات، إحترام الطالب لحقوق الملكية الفكرية</p>
        </div>
    </div>
</div>

<!-- end section artical university president -->

<div class="clear"></div>

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/Research/workShop/work-shop1"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/Research/workShop/work-shop1">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>

<app-scroll></app-scroll>

<app-footer></app-footer>