<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../assets/photo/books-1281581__340.webp);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">البحث العلمي</a></li>
                <li class="breadcrumb-item"><a routerLink="/Research/libraries">المكتبات</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                المكتبات
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="images">
                <img [src]="image | imagePipe:defualtImage" alt="">
            </div>
            <div class="h6">المكتبة المركزية للجامعة</div>
            <p>تستمد مكتبة الجامعة وأهدافها من المؤسسة التعليمية التابعة لها، كما يعتمد نجاح الجامعة فى أداء رسالتها على صلاحية مكتباتها، حيث تقع عليها مسئولية العملية التعليمية والبحثية بالجامعة، ورسالة المكتبة هى جزء لا يتجزأ من رسالة الجامعة التى تتركز فى التعليم، والبحث وخدمة المجتمع فهى التى تساعد الطالب والباحث والأستاذ على أداء مهمته، وهى التى توفر لهم مصادر المعلومات المختلفة وتقوم بتنظيمها وحفظها وصيانتها كما يقع على عاتقها مهمة إرشاد وتعليم المستفيدين كيفية الوصول إلى أوعية المعلومات وكيفية الاستفادة منها. ...
                <a routerLink="/Research/more-libraries">المزيد</a></p>
        </div>

    </div>
</div>

<!-- end section artical university president -->

<div class="clear"></div>

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->


<app-scroll></app-scroll>

<app-footer></app-footer>
