@import "../../../../assets/CSS/about/info-css/fixed.css";

.contain-message .images{
    float: left;
    width: 450px;
    height: 300px;
}
.contain-message .images img{
    width: 100%;
    height: 100%;
}
.contain-message p{
    line-height: 35px;
}
.contain-message p a{
    color: #3f51b5;
    text-decoration: none;
}