<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../assets/photo/privacy-policy.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الجامعة</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/Privacy-policy">سياسة الخصوصية</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                سياسة الخصوصية
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div>جامعة الاقصر تلتزم باحترام خصوصيتك. وتنطبق سياسة الخصوصية هذه على كل من مواقعنا (مواقعنا على الإنترنت) بما في ذلك الموقع الرئيسي www.mans.edu.eg والمواقع الأخرى www1.mans.edu.eg و www2.mans.edu.eg، ويشمل ذلك تطبيقاتنا التابعة على المحمول (تطبيقات الموبايل).</div>
            <div style="margin-top:15px ;">يتم تطبيق سياسة الخصوصية هذه على ما نجمعه من البيانات والتداول والاستخدام لهذه البيانات. <br> ومن خلال استخدامك لمواقعنا أو خدمات الاشتراك فإنك توافق بناءً عليه على الإجراءات الخاصة بالبيانات والمذكورة في سياسة الخصوصية هذه. وإذا كنت غير موافق على الأساليب والإجراءات الخاصة بالبيانات والمذكورة بالوصف في سياسة الخصوصية هذه فعليك الامتناع عن استخدام المواقع أو المحتويات المشترك فيها ومحتويات الغير</div>
            <div class="contant">
                <div class="h6">تجميع المعلومات</div>
                <ul>
                    <li>قد يقوم الموقع بجمع معلومات غير شخصية عند زيارتك مثل عنوان واسم الموقع السابق مباشرة لزيارة موقعنا إن وجد، والوقت الذي تستغرقه في تصفح الموقع بمكوناته، و الـ IP الخاص بجهازك. والغرض من هذه المعلومات هو استخدامها لعمل الإحصائيات عن زوار الموقع ولتحسين الخدمات المقدمه لكم.</li>
                    <li>وقد تتضمن بعض صفحات الموقع بعض ملفات الكوكي ويستخدم الموقع هذه الملفات لعمل الإحصاءات العامه فقط مثل عدد الزوار وأكثر صفحات الموقع زيارة وغيرها.وملفات الكوكي لاتقوم بجمع أية بيانات بأي صورة.</li>
                </ul>
            </div>

            <div class="contant">
                <div class="h6">تطبيقات الهاتف</div>
                <p>المعلومات التي يتم الحصول عليها:</p>
                <ul>
                    <li>المعلومات التي يقدمها المستخدم، مثال: عند التسجيل في إحدى الخدمات يقوم المستخدم بإدخال بعض المعلومات الشخصية كرقم الهاتف أو البريد الإلكتروني أو الرقم القومي ...</li>
                    <li>
                        تتطلب بعض التطبيقات الحصول على أذونات/ تصريحات مثل
                        <ul>
                            <li>تصريح الهاتف لتحديد هويته</li>
                            <li>تصريح الكاميرا بغرض إجراء المسح الضوئي</li>
                        </ul>
                    </li>
                    <li>تعامل هذه المعلومات معاملة البيانات الشخصية</li>
                </ul>
            </div>

            <div class="contant">
                <div class="h6">مشاركة المعلومات والكشف عنها</div>
                <ul>
                    <li> لا يكشف الموقع عن معلوماتك الشخصية أو مزيج معلوماتك الشخصية والديموغرافية أو المعلومات الخاصة بإستخدامك للموقع الإلكتروني (مثل الأقسام التي تزورها أو الخدمات التي تدخل عليها) لآخرين.</li>
                    <li> يتم الحفاظ على خصوصية بيانات العملاء وعدم نشرها عدا عند المساءلة القانونية.</li>
                </ul>
            </div>

            <div class="contant">
                <div class="h6">المواقع الخارجية</div>
                <div>قد يتضمن الموقع روابط لمواقع خارجية. والموقع غير مسئول عن هذه المواقع أو سياسات الخصوصية التابعة لها أو أى ملفات كوكى تتضمنها.</div>
                <div style="margin-top:10px ;"><strong>تحتفظ جامعة الاقصر بحقها في تعديل سياسة الخصوصية هذه من وقت لآخر، وستكون هذه التعديلات نافذة فور نشرها على هذا الموقع.</strong></div>
            </div>

            <div class="contant">
                <div class="h6">معلومات الاتصال</div>
                <div>إننا نرحب بملاحظاتك حول سياسة الخصوصية فإذا كانت لديك أية أسئلة وفي أي وقت كان حول سياسة الخصوصية، يرجى الاتصال على بريد مركز تقنية الاتصالات بالجامعة <a href="mailto:citc@mans.edu.eg">citc@mans.edu.eg .</a></div>
            </div>

        </div>
    </div>
</div>

<!-- end section artical university president -->


<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->


<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/about/connect"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/about/conferences">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>