<app-header></app-header>

<!-- start section breadcrumb -->

<div class="breadcrumb-top">
  <div class="overlay"></div>
  <div class="container">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0);">الطلاب</a></li>
              <li class="breadcrumb-item"><a routerLink="/about/info/university-president">رعاية الشباب</a></li>
          </ol>
      </nav>
  </div>
</div>

<!-- end section breadcrumb -->



<!-- start section artical university president -->

<div class="system-message">
  <div class="container">
      <div class="message-title">
          <h2>
            الإدارة العامة لرعاية الشباب المركزية
          </h2>
          <ul>
              <li><a href="javascript:void(0);">المعلومات info </a></li>
              <li><span>  13 ديسمبر 2020</span></li>
              <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
          </ul>
      </div>
      <div class="contain-message">
        <p>تقع الإدارة العامة لرعاية الشباب داخل
          مبنى الإدارة المركزية للجامعة وتقوم
          بإعداد وتنفيذ الأنشطة الطالبية المختلفة
          لمساعدة الطالب على تنمية مواهبهم فى
          كافة المجاالت المتنوعة مما يساعد على
          تنمية ملكة الابتكار الانتماء للوطن
        </p>
        <hr/>

        <!--Meesage -->
        <h4>أنشطة اإلدارة العامة لرعاية الشباب</h4>
        <p>وهى تساعد الطالب على التعرف على
          الأنشطة والفعاليات المختلفة التى تتم
          لهم على
          بالجامعة لتكون حافزا
          المشاركة الجادة والبناءة فى كافة
          الأنشطة</p>
        <ul>
          <li>الأنشطة الطلابية:-هى جزء لا يتجزأ من
            العملية التعليمية وهى محل أهتمام فى اى
            جامعة من الجامعات حيث تكمن رسالتها
            بتزويد الطالب بالقدرات والمهارات فى كافة
            المجالات العلمية والمعرفية مما يساعد على
            تكوين عقلية قادرة على مواجهة كافة التحديات
            ، والظروف المحيطة للعمل ...</li>
          <li>النشاط الاجتماعي: مسابقات متنوعة ، حملات تبرع ، معارض خيرية ، احتفالات اجتماعية ، اختيار الطالب والطالبة المثالية ، اختيار الأم
          المثالية ، رحلات ، زيارات.</li>
          <li>
            النشاط الثقافي: قصة قصيرة – زجل – شعر – خطابة – معلومات.
              مسابقات ثقافية متنوعة ،
              استطالعات رأي – ندوات – مناظرات،
              لقاءات ثقافية مع هيئات خارجية ،
              إصدار مجلات – رحالت ثقافية – معرض الكتاب.
          </li>
          <li>
            النشاط الفني: اكتشاف وتدريب المواهب الفنية. فريق الكورال. فريق المسرح ، معارض فنية – ندوات فنية – مسابقات فنية         </li>
          <li>
            النشاط العلمي :مناقشة وتقديم األبحاث المقدمة من الطالب
            - مسابقات أبحاث علمية - زيارات لجهات علمية - عمل دورات متخصصة
            اصدار المجلة العلمية
          </li>
          <li>
           النشاط الرياضي : تكوين وتدريب الفرق الرياضية المختلفة
            تنظيم المسابقات بجميع الألعاب الفردية و الجماعية و
             الاشتراك في المهرجانات الرياضية وعمل زيارات ولقاءات رياضية مع الكليات المختلفة و
            المشاركة في دوري الجامعات و
            المشاركة فى مهرجانات العاب رياضية

          </li>
          <li>
           نشاط الجوالة : تعليم حياة الخالء وبناء الخيام وإيقاد النيران والطهي الخلوي والرحالت الخلوية وتسلق الجبال
            تعلم المهارات والفنون الكشفية من عقد دورات لتعليم الطالب وإشراكهم فى فرق الجوالة والعشائر
          </li>
          <li>
            الأسر الاتحادات الطلابية : هو التنظيم الشرعي لممثلي
          طلاب الكلية والذي يعبر عن إرادتهم واتجاهاتهم ويعمل على تحقيق
آمالهم وأحلامهم
          </li>
        </ul>
      </div>
  </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
  <div class="container">
      <ul>
          <li>
              <a href="https://www.linkedin.com/" target="_blank">
                  <i class="fab fa-linkedin fa-lg"></i>
                  linkedin
              </a>
          </li>
          <li>
              <a href="https://www.youtube.com/" target="_blank">
                  <i class="fab fa-youtube fa-lg"></i>
                  youtube
              </a>
          </li>
          <li>
              <a href="https://www.pinterest.com/" target="_blank">
                  <i class="fab fa-pinterest fa-lg"></i>
                  pinterest
              </a>
          </li>
          <li>
              <a href="https://www.instagram.com/" target="_blank">
                  <i class="fab fa-instagram fa-lg"></i>
                  instagram
              </a>
          </li>
          <li>
              <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter fa-lg"></i>
                  twitter
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com/" target="_blank">
                  <i class="fab fa-facebook fa-lg"></i>
                  facebook
              </a>
          </li>
      </ul>
  </div>
</div>

<!-- end section university social media  -->

<div class="container">
  <div class="driv"></div>
</div>



<app-scroll></app-scroll>

<app-footer></app-footer>
