@import "../../../../../assets/CSS/about/info-css/fixed.css";
.system-message .contain-message .photos{
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin: 20px auto 30px auto;
}

.system-message .contain-message .photos img{
    width: 100%;
    height: 100%;
}

.system-message .contain-message .date{
    margin-top: 15px;
    font-size: 13px;
}


.f-data{
    font-weight: bold;
}