<app-header></app-header>

<!-- start section breadcrumb -->

<div class="breadcrumb-top">
  <div class="overlay"></div>
  <div class="container">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0);">الطلاب</a></li>
              <li class="breadcrumb-item"><a routerLink="/about/info/university-president">مركز القياس والتقويم</a></li>
          </ol>
      </nav>
  </div>
</div>

<!-- end section breadcrumb -->



<!-- start section artical university president -->

<div class="system-message">
  <div class="container">
      <div class="message-title">
          <h2>
            مركز القياس والتقويم
          </h2>
          <ul>
              <li><a href="javascript:void(0);">المعلومات info </a></li>
              <li><span>  13 ديسمبر 2020</span></li>
              <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
          </ul>
      </div>
      <div class="contain-message">
        <!--Intro-->
        <h4>رؤية المركز:</h4>
        <p>
          ” الريادة في مجال القياس والتقويم علي المستوي المحلي والاقليمي”.
        </p>

        <hr/>
        <h4>رسالة المركز :</h4>
        <p>” تحسين منظومة التعليم بجامعة الأقصر من خلال استخدم تكنولوجيا حديثة ومتطورة في عمليات القياس والتقويم”. </p>
        <hr/>

        <h4>أهداف المركز :</h4>
        <ul>
           <li>نشر ثقافة القياس والتقويم ورفع مستوى الوعي بأهمية تطوير عمليات القياس والتقويم كأحد مداخل تحسين منظومة التعليم بالجامعة .</li>
           <li>دعم الكليات لتطوير آليات تقويم الطلاب والامتحانات وإعلان النتائج واستثمارها في تطوير وتحسين مخرجات العملية التعليمية من خلال انشاء وحدات القياس والتقويم .</li>
           <li>دعم الكليات فى انشاء وحدات للقياس و التقويم بها.</li>
           <li>إعداد أدلة للضوابط والمعايير اللازمة لضمان جودة عمليات القياس والتقويم في ضوء المعايير الأكاديمية القياسية التي تتبناها الكليات .</li>
           <li>توفير تدريب أعضاء هيئة التدريس والهيئة المعاونة بالكليات المختلفة في مجال القياس والتقويم .
           <li>توفير احتياجات الكليات من الخبراء المتخصصين في مجال القياس والتقويم .</li>
           <li>متابعة إعداد وتحديث بنوك الأسئلة للمقررات الدراسية في ضوء نواتج التعلم المستهدفة والمعايير الاكاديمية للبرامج الدراسية في الكليات .</li>
           <li>متابعة ضمان جودة وتطوير نظم تقويم الطلاب والامتحانات بالكليات .</li>
           <li>تقديم الدعم الفني للكليات لمراجعة أساليب وأدوات التقويم ونتائج الامتحانات .</li>
           <li>متابعة مؤشرات قياس رضا الطلاب وأعضاء هيئة التدريس حول نظم القياس وتقويم الطلاب والامتحانات بالكليات .</li>
           <li>مراجعة و اعداد التقارير السنوية الخاصة بتقييم اعمال الأمتحانات و إعداد خطط تنفيذية للإجراءات التصحيحية لنقاط الضعف و التأكيد على تعزيز نقاط القوة.</li>
           <li>تقديم الأستشارات اللازمة فى المجالات الأحصائية و القياس و التقويم داخل الجامعة و خارجها.</li>
           <li>التقويم المستمر للعملية التعليمية من خلال قياس مدى تحقق معايير جودة الأداء لدى جميع عناصر العملية التعليمية</li>
           <li>تبنى نظم تقويم للطلاب باستخدام اساليب تربوية و تكنولوجيا حديثة.</li>
        </ul>

      </div>
  </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
  <div class="container">
      <ul>
          <li>
              <a href="https://www.linkedin.com/" target="_blank">
                  <i class="fab fa-linkedin fa-lg"></i>
                  linkedin
              </a>
          </li>
          <li>
              <a href="https://www.youtube.com/" target="_blank">
                  <i class="fab fa-youtube fa-lg"></i>
                  youtube
              </a>
          </li>
          <li>
              <a href="https://www.pinterest.com/" target="_blank">
                  <i class="fab fa-pinterest fa-lg"></i>
                  pinterest
              </a>
          </li>
          <li>
              <a href="https://www.instagram.com/" target="_blank">
                  <i class="fab fa-instagram fa-lg"></i>
                  instagram
              </a>
          </li>
          <li>
              <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter fa-lg"></i>
                  twitter
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com/" target="_blank">
                  <i class="fab fa-facebook fa-lg"></i>
                  facebook
              </a>
          </li>
      </ul>
  </div>
</div>

<!-- end section university social media  -->

<div class="container">
  <div class="driv"></div>
</div>



<app-scroll></app-scroll>

<app-footer></app-footer>
