<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../assets/photo/38ae040f-6684-4eb4-9724-a34dae9bd80b.png);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الجامعة</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/facing-corona">جامعة الاقصر في مواجهة كورونا</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                إجراءات جامعة الاقصر في مواجهة فيروس كورونا
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="head-message">
                <div class="pho">
                    <img src="../../../../assets/photo/—Pngtree—covid-2019 new coronavirus pneumonia medical_5326897.png" alt="">
                </div>
                <div>
                    <p>في إطار حرص جامعة الاقصر على تطبيق سياسة الدولة بشأن التيسير على المواطنين ومراعاة لخطة الدولة في اتخاذ الإجراءات الوقائية للحد من انتشار فيروس كورونا المُستجد ، فقد أخذت جامعة الاقصر على عاتقها عدة إجراءات من شأنها مساعدة أعضاء هيئة التدريس والعاملين والطلاب على تخطى تلك المشكلة التي انتشرت في أغلب دول العالم وتوقفت الحياة بها ، وكان لجامعة السبق كعادتها دائماً لتوكد لجميع متابعيها من مختلف أرجاء العالم أنها أول جامعة الكترونية في مصر وأنها استحقت عن جداره المركز الأول على مستوى الجامعات المصرية في التحول الرقمى ، فأخذت عدداً من الإجراءات منها:</p>
                </div>
                <ul>
                    <li>تم إنشاء بوابة جامعة الاقصر للمحتوى التعليمى</li>
                    <li>كذلك إنشاء بوابة لمحاضرات الدراسات العليا</li>
                    <li>وتم نشر فيديو تعريفى عن فيروس كورونا</li>
                    <li>كذلك تم نشر فيديو عن مبادرة خليك بالبيت موجه لذوى الإعاقة</li>
                    <li>وضعت الجامعة خطة للتنسيق والتعامل مع حالات الإصابة بفيروس كورونا</li>
                    <li>كذلك تم وضع جدول زيارات اللجنة الطبية لكليات الجامعة للتوعية والوقاية من فيروس كورونا</li>
                    <li>وقام رئيس الجامعة بتفقد اجراءات الوقاية لفيروس كرونا بالمستشفيات ومنظومة العمل بالعيادات الخارجية</li>
                    <li>وحرصاً من جامعة الاقصر على المساهمة في التيسير على السادة مشتركي صندوق الرعاية الطبية، وافق مجلس إدارة صندوق على عدد من القرارات الهامة التي تصب في مصلحة منسوبى الجامعة</li>
                </ul>
            </div>

            <div class="head-message">
                <div class="h2">وإيماناً من جامعة الاقصر بأنها شريك في خدمة المجتمع:</div>
                <div class="pho">
                    <img src="../../../../assets/photo/—Pngtree—social distancing to protect from_5344025.png" alt="">
                </div>
                <ul>
                    <li>تم إنتاج مستلزمات شخصية للوقاية من فيروس كورونا/li>
                    <li>وتدريب هيئة التمريض بمستشفيات جامعة الاقصر فى مواجهة فيروس كورونا</li>
                    <li>تم نشر برشور توعوى عند استخدام ماكينات الصراف الألى ATM</li>
                    <li>والمشاركة مع وزارة الصحة في إطلاق فريق طبى الى مستشفى تمى الأمديد لمعاونة الفريق الطبى بمستشفى العزل هناك</li>
                    <li>كذلك تم انعقاد أول مجلس جامعة بجامعة الاقصر عن طريق الفيديو كونفرنس</li>
                </ul>
            </div>
            <div class="head-message">
                <div class="h3">إشادة نائب وزير التعليم العالي الماليزي بدور خريجي جامعة الاقصر في مواجهة كورونا:</div>
                <div>وجدير بالذكر أنها في وسط أخبار ذلك الفيروس اللعين ، يثبت خريجى جامعة الاقصر في مختلف بقاع العالم انهم على قدر المسئولية وأن مستواهم التعليمى بحق يثبت للعالم أن جامعة الاقصر قلعة العلم والطب بمصر والعالم ، وفى هذا الصدد أشاد نائب وزير التعليم العالى بدولة ماليزيا بمستوى أبنائها
                    <strong> خريجى جامعة الاقصر في حربها ضد فيروس كورونا:</strong>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->


<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/about/info/university-president"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/about/site-map">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>