<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الجامعة</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/history">تاريخ الجامعة</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                تاريخ الجامعة
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="body-artical">جامعة الأقصر هي جامعة حكومية مصرية في محافظة الأقصر انقساماً من جامعة جنوب الوادي. وكانت تسمي في السابق جامعة جنوب الوادي فرع الأقصر ثم إستقلت بإسمها الحالي وتضم</div>
            <div class="body-artical">كليات &nbsp;
                <a href="javascript:void(0);" target="_blank">فنون جميلة</a>
                &nbsp;-&nbsp;
                <a href="javascript:void(0);" target="_blank">حاسبات ومعلومات</a>
                &nbsp;-&nbsp;
                <a href="javascript:void(0);" target="_blank">اثار</a>
                &nbsp;-&nbsp;
                <a href="javascript:void(0);" target="_blank">سياحة وفنادق</a>
                &nbsp;-&nbsp;
                <a href="javascript:void(0);" target="_blank">السن</a>
                &nbsp;-&nbsp;
                <a href="javascript:void(0);" target="_blank">الطب</a>
                و بعد استقلالها رسميًا عن جامعة جنوب الوادى
                 وذلك بالقرار الذي نشر في الجريدة الرسمية بموافقة الدكتور مصطفى مدبولى رئيس مجلس الوزراء، 
                على إنشاء "جامعة الأقصر" الجديدة وفصلها تمامًا عن جامعة جنوب الوادى، 
                حيث حمل القرار رقم 1481 لسنة 2019، بتعديل بعض أحكام اللائحة التنفيذية لقانون تنظيم الجامعات،
                 والخاص بتحويل فرع جامعة جنوب الوادى بمحافظة الأقصر إلى جامعة مستقلة بمسمى جامعة الأقصر،
                 ونص القرار على أن تنشأ بالإضافة إلى الجامعات المنصوص عليها بالمادة الثانية
                 من قانون تنظيم الجامعات (جامعة الأقصر) ومقرها محافظة الأقصر، ويلغى
                 فرع جامعة جنوب الوادى بالأقصر، وإضافة بند لقانون تنظيم الجامعات
              
            </div>
            <div class="order-list">
                <div class="h5">رؤساء جامعة الاقصر منذ نشأتها</div>
                <ol>
                    <li> أ. د / عبد المنعم السعيد البدراوى من 2019 إلى 2020</li>
                    <li> أ. د / محمد محجوب عزو من 2020 إلى الآن</li>
                </ol>
            </div>
        </div>

    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/about/info/facts"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/about/info/University-president">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>